:before, :after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

@font-face {
    font-family:'Merriweather-BoldItalic';
    src: url(../font/Merriweather-BoldItalic.ttf);
    font-weight: normal;
    font-style: italic;    
}

html {
    font: 400 18px/1.2 'Merriweather-BoldItalic';
    color: white;
}

body {
    background-image: url(../image/fone.jpg);
    position: relative;
}

form {
    position: absolute;
    background-color: hsl(201, 19%, 44%); 
    opacity: 0.9; 
    top: 100px; 
    left: 33%;   
}

legend {
    font-size: 16px;
}

.items {
    margin: 10px 8px 20px 0;
}

label {
    font-size: 12px;  
    letter-spacing: 1.1px;  
}

.field {  
    border-radius: 5px;
    border-color: #fff;    
}

.field, .button {
    height: 40px;
    width: 100%;
}

.field:focus {
    box-shadow: 5px 5px 15px #eaeff3;    
}

[type='checkbox'],.button {
    cursor: pointer;
}    

.button {
    background-color: #167bc9;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 20px;    
    margin-top: 30px;    
    letter-spacing: 2.5px;
    box-shadow: 0 3px 0 rgb(99, 179, 216);
    transition: background-color 0.6s ease 0s;
    position: relative;
    top: 0;
    font: 700 18px/1.2 'Merriweather-BoldItalic';
}

.button:hover {
    background-color: #075088;
}

.button:active {
    top: 3px;
    box-shadow: none;
}